body {
    background-color: beige;
}


object {
    height: 100vh;
    width: 100vh;
}
h1{
    text-align: center;
}
nav{
    background-color: black;
    color: white;
}
.jumbotron{
    text-align: center;
    font-family: 'Roberto Slab', serif;
}
h3{
    text-align: center;
}